#page-container {
    position: relative;
    min-height: 100vh;
} 
#content-wrap {
    padding-bottom: 2.5rem;
}
#header-content {
    display: flex;
}
#logo {
    font-size: xx-large;
    border: 1px solid;
    padding: 5px;
}
#crumbs {
    background-color: grey; 
}
#crumbs ol li{
    list-style: none;
    letter-spacing: 1px;
    
}
header nav {
    width: 100%;
    height: 2.5em;
}
header nav ol .crumb {
    font-size: 25px;
    display: inline;
    padding: 30px;

}

main .main-content {
    font-size: 30px;
    padding: 10px 10px 20px 10px;
}
a {
    text-decoration: none;
}

#recipe-images {
    display: flex;
    size: 100px;
}

button {
    padding: 10px;
    margin-left: 10px;
}

#recipe-list .recipes {
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 40px;
    font-size: larger;
}
main .main-content .ingredients {
    font-size: 25px;
    padding-left: 20px;
}
main .main-content .ingredients ol {
    font-size: 20px;
}
main .main-content .cooking-instructions {
    font-size: 25px;
    padding-left: 20px;
}
main .main-content .cooking-instructions ul {
    font-size: 20px;
}
#inventory-list {
    font-size: 20px;
}
#footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    background-color: grey; 
}
#footer ol {
    list-style: none;
    letter-spacing: 1px; 
}
#footer ol .foot {
    font-size: 20px;
    display: inline;
    padding: 30px;
}

#home-content {
    padding: 30px;
    text-align: center;
    margin-top: 400px;
    margin-left: 400px;
    margin-right: 400px;
}
#hamburger {
    max-width: 30px;
    max-height: 35px;
    padding-left: 30px;
    padding-right: auto;
}